.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 80px;
    margin: 30px;
    padding: 20px;
}

.aboutContent {
    flex: 1 1 300px;
    max-width: 600px;
    color: #444;
}

.aboutContent h2 {
    font-weight: bold;
}

.aboutContent p {
    font-size: 20px;
}

.aboutImage {
    flex: 1 1 300px;
    max-width: 400px;
}

.aboutImage img {
    width: 100%;
    height: auto;
}